language: java

notifications:
email: true

install: 
  - export MVN_SETTINGS=travis/settings.xml
  - export MAVEN_CLI_OPTS="-s travis/settings.xml --batch-mode"
  - sed -i s/OSS_SONATYPE_USER/$OSS_SONATYPE_USER/g $MVN_SETTINGS
  - sed -i s/OSS_SONATYPE_PASS/$OSS_SONATYPE_PASS/g $MVN_SETTINGS
  - sed -i s,GPG_EXECUTABLE,$GPG_EXECUTABLE,g $MVN_SETTINGS
  - sed -i s,GPG_PASSPHRASE,$GPG_PASSPHRASE,g $MVN_SETTINGS
  - apt-get install dirmngr --install-recommends
  - gpg2 --keyserver hkp://pool.sks-keyservers.net --recv-keys B0E7772F0EBD62D2
  - gpg2 -a --export B0E7772F0EBD62D2 | sudo apt-key add -

script:
  - mvn $MAVEN_CLI_OPTS clean compile -DskipTests
  
before_deploy:
  - mvn $MAVEN_CLI_OPTS versions:set -DnewVersion=${TRAVIS_TAG}

deploy:
  - provider: script
    script:
      - mvn $MAVEN_CLI_OPTS clean deploy -DskipTests
    on:
     tags: true
     all_branches: true
